// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   53       0     0     0>
            , <&key_physical_attrs 100 100  125   53       0     0     0>
            , <&key_physical_attrs 100 100  226   26       0     0     0>
            , <&key_physical_attrs 100 100  326    0       0     0     0>
            , <&key_physical_attrs 100 100  426   26       0     0     0>
            , <&key_physical_attrs 100 100  526   53       0     0     0>
            , <&key_physical_attrs 100 100  627   53       0     0     0>
            , <&key_physical_attrs 100 100 1205   53       0     0     0>
            , <&key_physical_attrs 100 100 1305   53       0     0     0>
            , <&key_physical_attrs 100 100 1405   26       0     0     0>
            , <&key_physical_attrs 100 100 1506    0       0     0     0>
            , <&key_physical_attrs 100 100 1606   26       0     0     0>
            , <&key_physical_attrs 100 100 1706   53       0     0     0>
            , <&key_physical_attrs 100 100 1830   53       0     0     0>
            , <&key_physical_attrs 100 100    0  153       0     0     0>
            , <&key_physical_attrs 100 100  125  153       0     0     0>
            , <&key_physical_attrs 100 100  226  127       0     0     0>
            , <&key_physical_attrs 100 100  326  100       0     0     0>
            , <&key_physical_attrs 100 100  426  127       0     0     0>
            , <&key_physical_attrs 100 100  526  153       0     0     0>
            , <&key_physical_attrs 100 100  627  178       0     0     0>
            , <&key_physical_attrs 100 100  735  263       0     0     0>
            , <&key_physical_attrs 100 100 1100  263       0     0     0>
            , <&key_physical_attrs 100 100 1205  178       0     0     0>
            , <&key_physical_attrs 100 100 1305  153       0     0     0>
            , <&key_physical_attrs 100 100 1405  127       0     0     0>
            , <&key_physical_attrs 100 100 1506  100       0     0     0>
            , <&key_physical_attrs 100 100 1606  127       0     0     0>
            , <&key_physical_attrs 100 100 1706  153       0     0     0>
            , <&key_physical_attrs 100 100 1830  153       0     0     0>
            , <&key_physical_attrs 100 100    0  253       0     0     0>
            , <&key_physical_attrs 100 100  125  253       0     0     0>
            , <&key_physical_attrs 100 100  226  227       0     0     0>
            , <&key_physical_attrs 100 100  326  200       0     0     0>
            , <&key_physical_attrs 100 100  426  227       0     0     0>
            , <&key_physical_attrs 100 100  526  253       0     0     0>
            , <&key_physical_attrs 100 100  741  435    2500   791   485>
            , <&key_physical_attrs 100 100  832  477    2500   882   527>
            , <&key_physical_attrs 100 100 1000  477 (-2500)  1050   527>
            , <&key_physical_attrs 100 100 1091  435 (-2500)  1141   485>
            , <&key_physical_attrs 100 100 1305  253       0     0     0>
            , <&key_physical_attrs 100 100 1405  227       0     0     0>
            , <&key_physical_attrs 100 100 1506  200       0     0     0>
            , <&key_physical_attrs 100 100 1606  227       0     0     0>
            , <&key_physical_attrs 100 100 1706  253       0     0     0>
            , <&key_physical_attrs 100 100 1830  253       0     0     0>
            , <&key_physical_attrs 100 100    0  353       0     0     0>
            , <&key_physical_attrs 100 100  125  353       0     0     0>
            , <&key_physical_attrs 100 100  226  327       0     0     0>
            , <&key_physical_attrs 100 100  326  301       0     0     0>
            , <&key_physical_attrs 100 100  426  327       0     0     0>
            , <&key_physical_attrs 100 100  526  353       0     0     0>
            , <&key_physical_attrs 100 100  627  328       0     0     0>
            , <&key_physical_attrs 100 100  790  568    2500   840   618>
            , <&key_physical_attrs 100 100 1042  568 (-2500)  1092   618>
            , <&key_physical_attrs 100 100 1205  328       0     0     0>
            , <&key_physical_attrs 100 100 1305  353       0     0     0>
            , <&key_physical_attrs 100 100 1405  327       0     0     0>
            , <&key_physical_attrs 100 100 1506  301       0     0     0>
            , <&key_physical_attrs 100 100 1606  327       0     0     0>
            , <&key_physical_attrs 100 100 1706  353       0     0     0>
            , <&key_physical_attrs 100 100 1830  353       0     0     0>
            , <&key_physical_attrs 100 100   25  454       0     0     0>
            , <&key_physical_attrs 100 100  125  454       0     0     0>
            , <&key_physical_attrs 100 100  226  427       0     0     0>
            , <&key_physical_attrs 100 100  326  401       0     0     0>
            , <&key_physical_attrs 100 100  426  427       0     0     0>
            , <&key_physical_attrs 100 100  586  529    2500   636   579>
            , <&key_physical_attrs 100 100  677  571    2500   727   621>
            , <&key_physical_attrs 100 100  747  659    2500   797   709>
            , <&key_physical_attrs 100 100 1085  659 (-2500)  1135   709>
            , <&key_physical_attrs 100 100 1154  571 (-2500)  1204   621>
            , <&key_physical_attrs 100 100 1245  529 (-2500)  1295   579>
            , <&key_physical_attrs 100 100 1405  427       0     0     0>
            , <&key_physical_attrs 100 100 1506  401       0     0     0>
            , <&key_physical_attrs 100 100 1606  427       0     0     0>
            , <&key_physical_attrs 100 100 1706  454       0     0     0>
            , <&key_physical_attrs 100 100 1807  454       0     0     0>
            ;
    };
};
